

.img1{
 width: 100%;
 height: 330px;
 
 
}

.para3{
 height: 70px;
 width: 100%;
 
}
 .para2{

 position: left;
 width: 70rem;
 height: 70rem;
 margin-left: 20rem;
}
.child2{
 text-align: center;
 font-size: 2rem;
 margin: 5rem;
 margin-bottom: 5rem;
}
.child3{
 text-align: center;
 font-size: 1rem;
 margin: 4rem;

}
.para4{
 align-items: center;
}
.border{
 border: 1rem solid grey;
 width: 60%;
 padding: 5rem;
 border-radius: 2rem;
}
.para4{
 text-align: center;
 margin-bottom: 20px;
 margin-top: 15px;
}
.child5{
 margin: 10px;
 padding: 10px;

}
.para5{
 width: 100%;
 height: 100%;
 background-color: rgb(230, 234, 241);
 
}
.child7{
 width: 100%;
 height:40px;
 background-color: blue;

}
.child10{
 background-color: rgb(202, 201, 201);
 width: 100%;
 height: 5rem;
}
.boom{
 width: 10rem;
 height: 5rem;
 align-items: center;
 margin-left: 30%;
 margin-right: 30%;

}
.table{
 width: 10rem;
 height: 10rem;
 border: .5rem solid black;
 padding: 2rem;
 margin: 1rem;
}